<!DOCTYPE html>
<html lang="ja">
<head>
<% include head/meta %>
<% include head/ios-meta %>
<% include head/facebook-ogp %>
<title><%= meta.title %></title>
</head>
<body>
<h1><%= meta.title %></h1>
<%= meta.description %>
</body>
</html>
