extends layout/DefaultLayout

block ConfigBlock
  include mixin/tumblr_block
  - TumblrTagHelper.data.available = true
  - TumblrTagHelper.data.isPermalinkPage = false
  - TumblrTagHelper.data.pageTagName = 'pickup'
  - use_single_file = false