ul.share
  li.share__item!= SNSHelper.tweet_button({ url: url, text: share_text })
  li.share__item!= SNSHelper.fb_like_button({ href: url })
  li.share__item!= SNSHelper.line_button({ text: share_text })