div.tumblr-sample
  h1= TumblrTagHelper.title()
  h2= TumblrTagHelper.description()
  ul
    +tumblr_block_permalink_page
      // here is permalink page
    +tumblr_block_index_page
      // here is index page
    +tumblr_block_posts
      li
        a(href=TumblrTagHelper.permalink(post))
          +tumblr_block_text
            = TumblrTagHelper.title(post)
          +tumblr_block_photo
            img(src=TumblrTagHelper.photoURL500(photo))