mixin tumblr_block_permalink_page
  if helper.tumblr_tag.data.available
    if helper.tumblr_tag.data.isPermalinkPage
      block
  else
    = '{block:PermalinkPage}'
    block
    = '{/block:PermalinkPage}'

mixin tumblr_block_index_page
  if helper.tumblr_tag.data.available
    if !helper.tumblr_tag.data.isPermalinkPage
      block
  else
    = '{block:IndexPage}'
    block
    = '{/block:IndexPage}'

mixin tumblr_block_posts(index)
  if helper.tumblr_tag.data.available
    if helper.tumblr_tag.data.isPermalinkPage
      - post = helper.tumblr_tag.data.posts[index || 0]
      block
    else
      each p in helper.tumblr_tag.data.posts
        - post = p
        block
  else
    = '{block:Posts}'
    - post = null
    block
    = '{/block:Posts}'

mixin tumblr_block_text
  if helper.tumblr_tag.data.available
    if post && post.type == 'text'
      block
  else
    = '{block:Text}'
    - post = null
    block
    = '{/block:Text}'

mixin tumblr_block_photo
  if helper.tumblr_tag.data.available
    if post && post.type == 'photo' && post.photos.length == 1
      - photo = post.photos[0]
      block
  else
    = '{block:Photo}'
    - post = null
    block
    = '{/block:Photo}'

mixin tumblr_block_video
  if helper.tumblr_tag.data.available
    if post && post.type == 'video'
      block
  else
    = '{block:Video}'
    - post = null
    block
    = '{/block:Video}'

mixin tumblr_block_link
  if helper.tumblr_tag.data.available
    if post && post.type == 'link'
      block
  else
    = '{block:Link}'
    - post = null
    block
    = '{/block:Link}'